/* ------------------------------------------------ */
/* Table style	        */
/* ------------------------------------------------ */  
table {
	width: 90%;
	border-collapse: collapse;
	font-family: Calibri;
	margin-left: 5%;
	margin-right: 5%;
}

th, td{
	 padding: 1px;
	 text-align: center;
	 border-bottom: 1px solid #ddd;
 }

/* Add striped rows */
tr:nth-child(even) {background-color: #f0f3f9;}

/* Table heading format */
th{
	background-color: #333;
	font-size: 17px;
	color: white;
	cursor: pointer;
}

/* Collapsible table */
.collapsible {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  padding: 7px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
